.animate {
  opacity: 0;
}

.pokemon-card {
  position: relative;
  width: 18rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.7rem 0.5rem;
  border-radius: 1.4rem;
  overflow: hidden;
  margin: auto;
  transition: all 0.3s ease;

  span.pokemon-id {
    position: absolute;
    right: 1rem;
    color: rgba(0, 0, 0, 0.4);
  }

  .pokemon__card-img {
    position: absolute;
    right: -1.5rem;
    bottom: -1.5rem;
    opacity: 0.7;
    width: 6rem;
  }

  .pokemon-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  h3 {
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
  }
  .pokemon-info {
    span {
      background-color: rgba(255, 255, 255, 0.2);
      display: block;
      padding: 0.1rem 0.8rem;
      color: #fff;
      font-weight: 600;
      border-radius: 1rem;
    }
  }
  .pokImg {
    width: 8rem;
    padding-top: 1.8rem;
    height: 10rem;
    z-index: 5;

    img {
      width: 100%;
    }
  }

  &:hover {
    transform: scale(1.0534);
  }
}
